// Mixins in here
.header-mixin() {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    vertical-align: middle;
    margin: 1rem 0 0 0;
    padding: .5rem  6rem 2rem 6rem;
    border-bottom: 1px dashed black;
}

.button() {
    border-radius: 1.2rem;
    padding: 1rem 0 1rem 0;
    font-size: 1.4rem;
    width: 80%;
    text-align: center;
    margin-left: .5rem;
    margin-right: .5rem;
    background: #008080;
    color: white;
}

.mobile-padding(@top, @bottom: 0) {
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: 1rem;
    padding-right: 1rem;
}